<header>
  <nav class="navbar">
    <a class="navbar-title" href="#">Product MicroService</a>
    <ul class="navbar-list">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/products"
          routerLinkActive="active-link"
          >products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/counter"
          routerLinkActive="active-link"
          >Counter</a
        >
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
